n8n/My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -64
      ],
      "id": "0f19b50c-90fd-4ea6-bcaa-f80bd7a8600c",
      "name": "Webhook",
      "webhookId": "be2c45df-ea52-45ec-8f71-d8aa887224ce"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres ValentinaBot, un asistente de conocimiento general y entretenimiento.\n\nPersonalidad y tono:\n- Mantén un tono amigable, curioso y entusiasta.\n- Sé claro, preciso y divertido sin perder el profesionalismo.\n- Responde siempre en el idioma que usa el usuario.\n\nDetección automática de idioma:\n- Si el usuario escribe en español, responde en español.\n- If the user writes in English, respond in English.\n\nTemas que puedes responder:\n1. Todo sobre El Chapulín Colorado y el universo de Chespirito (usa siempre tu herramienta RAG para consultar personajes, episodios, actores, frases y datos).\n2. Clima actual en cualquier ciudad del mundo (usa la tool de clima).\n3. Cálculos matemáticos generales (usa la calculadora).\n- Cuando el usuario se presenta, recuerda su nombre.\n- Cuando pida un resumen, resume los temas tratados en la conversación.\n\nRestricción:\n- Si preguntan algo fuera de estos temas (ej. otras series, deportes, política, finanzas), declina amablemente.\n- En español: \"Lo siento, solo soy experto en El Chapulín Colorado, el clima y hacer cálculos matemáticos.\"\n- In English: \"I'm sorry, I am only an expert on El Chapulín Colorado, the weather, and math calculations.\"\n- REGLA CRÍTICA: Si el ÚLTIMO mensaje del usuario está en inglés, DEBES generar tu respuesta en inglés, sin importar el historial previo\n\nMensaje del usuario: {{ $json.body.mensaje }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -448,
        -64
      ],
      "id": "d5289a7d-6134-4c9e-81b9-7712c5857bdf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -832,
        256
      ],
      "id": "7c9e4f20-0aed-4544-9cd1-6541238f88fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eCwocCq5PLJovChi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "valentinabot-memory",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -608,
        256
      ],
      "id": "e2bf11ea-766d-4df9-98b2-8eb631964cb5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({\"respuesta\": $json.output ?? $json.text ?? $json.respuesta}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        -64
      ],
      "id": "bb3ff374-75d0-4bc0-b5a8-0093ffd1ae4e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1776,
        528
      ],
      "id": "a48a126c-7bdd-4dd4-b8a0-7a2c504d3cf9",
      "name": "Webhook1",
      "webhookId": "0aea2ce1-56bb-4a61-b0b5-1ac443e05c04"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1424,
        448
      ],
      "id": "fddf2300-8db7-4a6d-b002-3ae3836a3ec3",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "1XjbZGjBDAmQzYZL",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres ValentinaBot, un asistente de conocimiento general y entretenimiento.\n\nPersonalidad y tono:\n- Mantén un tono amigable, curioso y entusiasta.\n- Sé claro, preciso y divertido sin perder el profesionalismo.\n- Responde siempre en el idioma que usa el usuario.\n\nDetección automática de idioma:\n- Si el usuario escribe en español, responde en español.\n- If the user writes in English, respond in English.\n\nTemas que puedes responder:\n1. Todo sobre El Chapulín Colorado y el universo de Chespirito (usa siempre tu herramienta RAG para consultar personajes, episodios, actores, frases y datos).\n2. Clima actual en cualquier ciudad del mundo (usa la tool de clima).\n3. Cálculos matemáticos generales (usa la calculadora).\n- Cuando el usuario se presenta, recuerda su nombre.\n- Cuando pida un resumen, resume los temas tratados en la conversación.\n\nRestricción:\n- Si preguntan algo fuera de estos temas (ej. otras series, deportes, política, finanzas), declina amablemente.\n- En español: \"Lo siento, solo soy experto en El Chapulín Colorado, el clima y hacer cálculos matemáticos.\"\n- In English: \"I'm sorry, I am only an expert on El Chapulín Colorado, the weather, and math calculations.\"\n- REGLA CRÍTICA: Si el ÚLTIMO mensaje del usuario está en inglés, DEBES generar tu respuesta en inglés, sin importar el historial previo\n\nMensaje del usuario: {{ $json.text || $json.body.mensaje }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1056,
        432
      ],
      "id": "3daaaf48-9ef8-42b4-8bdc-d60f708eca82",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        416
      ],
      "id": "1a7283bc-4a14-4912-a5b9-c3ff97b54996",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1488,
        784
      ],
      "id": "6a6364f0-de59-41f8-8c4d-ddf297205fe6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bloftgQEIwxYJCmU",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "valentinabot-memory",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -1248,
        784
      ],
      "id": "165250cc-e5eb-448b-80f2-3a987d306639",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "dQ0C8BEdKF2odmELvNee",
          "mode": "list",
          "cachedResultName": "David - Clear, Warm and Patient"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -272,
        416
      ],
      "id": "19e19943-d3c0-40a3-8113-e732ae4acc03",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "4DI1Byx4YaoZPYU7",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5304b2d1-7e0c-45ba-a24f-b68aa4ba9917",
              "leftValue": "={{ $('Webhook1').item.json.body.modo_audio }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        432
      ],
      "id": "1aa9278d-5266-498e-9c23-abce25d5ee64",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ transcripcion: $('Transcribe a recording').item.json.text, respuesta: $('AI Agent1').item.json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        768
      ],
      "id": "e6eb40e0-f97a-4376-96aa-fdb365672e2c",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20dbad03-8b63-4038-8fef-fe9499129d26",
              "leftValue": "={{ $('Webhook1').item.json.body.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1616,
        288
      ],
      "id": "76cf0034-655a-4b93-b75c-8d036f38a8e8",
      "name": "If1"
    },
    {
      "parameters": {
        "toolDescription": "Obtiene el clima actual de cualquier ciudad del mundo. Úsala cuando el usuario pregunte por el tiempo, temperatura o clima en algún lugar.\n",
        "url": "=https://wttr.in/{{ $fromAI('ciudad') }}?format=3&lang=es",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -128,
        240
      ],
      "id": "f00d5b80-38cb-4cae-a045-dca0ed515272",
      "name": "clima"
    },
    {
      "parameters": {
        "toolDescription": "Consulta información sobre El Chapulín Colorado: personajes, episodios, frases y datos de la serie. Úsala cuando el usuario pregunte sobre el Chapulín Colorado o Chespirito.\n",
        "method": "POST",
        "url": "https://simulacron8n-production.up.railway.app/rag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\"mensaje\": \"{{ $fromAI('mensaje') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        112,
        192
      ],
      "id": "23688dba-0949-4ba4-98f4-e116c3d472e6",
      "name": "rag"
    },
    {
      "parameters": {
        "toolDescription": "Obtiene el clima actual de cualquier ciudad del mundo. Úsala cuando el usuario pregunte por el tiempo, temperatura o clima en algún lugar.\n",
        "url": "=https://wttr.in/{{ $fromAI('ciudad') }}?format=3&lang=es",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -800,
        768
      ],
      "id": "c4a24123-20a3-44c5-8e6b-c21378c7f7f6",
      "name": "clima1"
    },
    {
      "parameters": {
        "toolDescription": "Consulta información sobre El Chapulín Colorado: personajes, episodios, frases y datos de la serie. Úsala cuando el usuario pregunte sobre el Chapulín Colorado o Chespirito.\n",
        "method": "POST",
        "url": "https://simulacron8n-production.up.railway.app/rag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"mensaje\": \"{{ $fromAI('mensaje') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -464,
        752
      ],
      "id": "5aa3ca7f-a159-45b3-81e7-8a9f9f415fc3",
      "name": "rag1"
    },
    {
      "parameters": {
        "description": "\"Calculadora general. IMPORTANTE: El parámetro 'expresion' DEBE contener ÚNICAMENTE números y símbolos matemáticos (ej: 1250 * 0.19). NUNCA envíes palabras como 'multiplicado' o 'más'.\"",
        "jsCode": "// Atrapa cualquier parámetro que el Agente decida enviar\nlet expresion = $input.first().json.query || $input.first().json.expresion || Object.values($input.first().json)[0];\n\nif (!expresion) return \"Error: No recibí ninguna expresión matemática.\";\n\n// Limpiar: solo dejar números y operadores\nlet formula = String(expresion).replace(/[^0-9+\\-*/().]/g, '');\n\ntry {\n  let resultado = Function('\"use strict\"; return (' + formula + ')')();\n  // Le entregamos al Agente una respuesta en texto plano súper clara\n  return \"El resultado exacto de la operación matemática es: \" + resultado;\n} catch(e) {\n  return \"Error al calcular la fórmula: \" + formula;\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -384,
        256
      ],
      "id": "9cb6b305-14ba-4a22-91f0-bd3d02f3f93c",
      "name": "calculadora"
    },
    {
      "parameters": {
        "description": "\"Calculadora general. IMPORTANTE: El parámetro 'expresion' DEBE contener ÚNICAMENTE números y símbolos matemáticos (ej: 1250 * 0.19). NUNCA envíes palabras como 'multiplicado' o 'más'.\"",
        "jsCode": "// Atrapa cualquier parámetro que el Agente decida enviar\nlet expresion = $input.first().json.query || $input.first().json.expresion || Object.values($input.first().json)[0];\n\nif (!expresion) return \"Error: No recibí ninguna expresión matemática.\";\n\n// Limpiar: solo dejar números y operadores\nlet formula = String(expresion).replace(/[^0-9+\\-*/().]/g, '');\n\ntry {\n  let resultado = Function('\"use strict\"; return (' + formula + ')')();\n  // Le entregamos al Agente una respuesta en texto plano súper clara\n  return \"El resultado exacto de la operación matemática es: \" + resultado;\n} catch(e) {\n  return \"Error al calcular la fórmula: \" + formula;\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1024,
        784
      ],
      "id": "2055e909-9ed4-4e3f-aab5-8d19b472159b",
      "name": "calculadora1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clima": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rag": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "clima1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rag1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculadora1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "39a28de1-7fc7-419f-81e1-adb14a18203b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d5084e5916388c752e06b917a0aa4367176abf5b56407be7d57697403412ca"
  },
  "id": "5lzJydVU8BzoHJYy",
  "tags": []
}