n8n/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        -256
      ],
      "id": "0f19b50c-90fd-4ea6-bcaa-f80bd7a8600c",
      "name": "Webhook",
      "webhookId": "be2c45df-ea52-45ec-8f71-d8aa887224ce"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres FinBot, el asistente virtual oficial de FinBot, una empresa fintech que opera en Colombia y Estados Unidos.\n\nPersonalidad y tono:\n- Mantén siempre un tono formal, profesional y empático propio del sector financiero.\n- Sé confiable, preciso y claro. Nunca uses lenguaje coloquial o informal.\n\nDetección automática de idioma:\n- Detecta el idioma de cada mensaje y responde SIEMPRE en ese mismo idioma.\n- Si el usuario escribe en español, responde completamente en español formal.\n- If the user writes in English, respond entirely in formal English.\n- If the user mixes Spanish and English in the same message (Spanglish), respond in the language that appears most in that message.\n\nTemas permitidos (SOLO responde sobre estos):\n1. Finanzas personales: presupuesto, ahorro, inversión, crédito, deudas, planificación.\n2. Mercados e inversiones: tasas de cambio, criptomonedas (Bitcoin, etc.), acciones, rendimientos.\n3. Productos y servicios de FinBot: cuentas, tarjetas, préstamos, transferencias.\n4. Soporte técnico: problemas con la app, transacciones, seguridad de la cuenta.\n- Cuando el usuario se presenta o saluda, responde amablemente y recuerda su nombre para el resto de la conversación.\n- Cuando el usuario pida un resumen de la conversación o mencione lo que se discutió, responde resumiendo los temas financieros tratados en la sesión.\n\nRestricción de dominio:\n- Si el usuario pregunta algo que NO sea finanzas, productos FinBot o soporte, declina amablemente en el idioma activo.\n- Rechazo en español: \"Lo siento, solo puedo ayudarte con temas financieros, productos FinBot o soporte técnico.\"\n- Rejection in English: \"I am sorry, I can only assist with financial topics.\"\n\nMensaje del usuario: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -448,
        -64
      ],
      "id": "d5289a7d-6134-4c9e-81b9-7712c5857bdf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1168,
        208
      ],
      "id": "7c9e4f20-0aed-4544-9cd1-6541238f88fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eCwocCq5PLJovChi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "finbot-memory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -960,
        208
      ],
      "id": "e2bf11ea-766d-4df9-98b2-8eb631964cb5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({\"respuesta\": $json.output ?? $json.text ?? $json.respuesta}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -160
      ],
      "id": "bb3ff374-75d0-4bc0-b5a8-0093ffd1ae4e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1856,
        320
      ],
      "id": "a48a126c-7bdd-4dd4-b8a0-7a2c504d3cf9",
      "name": "Webhook1",
      "webhookId": "0aea2ce1-56bb-4a61-b0b5-1ac443e05c04"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1312,
        528
      ],
      "id": "fddf2300-8db7-4a6d-b002-3ae3836a3ec3",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "1XjbZGjBDAmQzYZL",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres FinBot, el asistente virtual oficial de FinBot, una empresa fintech que opera en Colombia y Estados Unidos.\n\nPersonalidad y tono:\n- Mantén siempre un tono formal, profesional y empático propio del sector financiero.\n- Sé confiable, preciso y claro. Nunca uses lenguaje coloquial o informal.\n\nDetección automática de idioma:\n- Detecta el idioma de cada mensaje y responde SIEMPRE en ese mismo idioma.\n- Si el usuario escribe en español, responde completamente en español formal.\n- If the user writes in English, respond entirely in formal English.\n- If the user mixes Spanish and English in the same message (Spanglish), respond in the language that appears most in that message.\nREGLA CRÍTICA DE IDIOMA: Debes detectar el idioma del ÚLTIMO mensaje del usuario y responder EXACTAMENTE en ese mismo idioma. Si el último mensaje es en inglés, tu respuesta entera, incluyendo resúmenes de temas pasados, DEBE ser en inglés. Ignorar esto es un error grave.\nTemas permitidos (SOLO responde sobre estos):\n1. Finanzas personales: presupuesto, ahorro, inversión, crédito, deudas, planificación.\n2. Mercados e inversiones: tasas de cambio, criptomonedas (Bitcoin, etc.), acciones, rendimientos.\n3. Productos y servicios de FinBot: cuentas, tarjetas, préstamos, transferencias.\n4. Soporte técnico: problemas con la app, transacciones, seguridad de la cuenta.\n- Cuando el usuario se presenta o saluda, responde amablemente y recuerda su nombre para el resto de la conversación.\n- Cuando el usuario pida un resumen de la conversación o mencione lo que se discutió, responde resumiendo los temas financieros tratados en la sesión.\n\nRestricción de dominio:\n- Si el usuario pregunta algo que NO sea finanzas, productos FinBot o soporte, declina amablemente en el idioma activo.\n- Rechazo en español: \"Lo siento, solo puedo ayudarte con temas financieros, productos FinBot o soporte técnico.\"\n- Rejection in English: \"I am sorry, I can only assist with financial topics.\"\n\nMensaje del usuario:{{ $json.text || $json.body.mensaje }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1056,
        512
      ],
      "id": "3daaaf48-9ef8-42b4-8bdc-d60f708eca82",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        576
      ],
      "id": "1a7283bc-4a14-4912-a5b9-c3ff97b54996",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "description": "Calcula interés compuesto. Úsala cuando el usuario pregunte cuánto crecerá una inversión.",
        "jsCode": "const principal = $input.first().json.principal;\nconst rate = $input.first().json.rate;\nconst years = $input.first().json.years;\n\nconst monto_final = principal * Math.pow(1 + rate / 100, years);\nconst intereses = monto_final - principal;\n\nreturn [{\n  json: {\n    principal: Math.round(principal * 100) / 100,\n    tasa_anual: rate,\n    años: years,\n    monto_final: Math.round(monto_final * 100) / 100,\n    intereses_generados: Math.round(intereses * 100) / 100\n  }\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -768,
        208
      ],
      "id": "9cb6b305-14ba-4a22-91f0-bd3d02f3f93c",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "toolDescription": "Consulta el tipo de cambio actual del dólar (USD) a pesos colombianos (COP). Úsala cuando el usuario pregunte por la tasa de cambio o el valor del dólar hoy.",
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -576,
        192
      ],
      "id": "f00d5b80-38cb-4cae-a045-dca0ed515272",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "Obtiene el precio actual de Bitcoin en USD via CoinGecko. Úsala cuando el usuario pregunte por el precio del bitcoin o el mercado crypto.",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -384,
        192
      ],
      "id": "5b25a554-0262-49de-85a8-ae0c553a04ca",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1552,
        912
      ],
      "id": "6a6364f0-de59-41f8-8c4d-ddf297205fe6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bloftgQEIwxYJCmU",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "finbot-memory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -1264,
        928
      ],
      "id": "165250cc-e5eb-448b-80f2-3a987d306639",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "dQ0C8BEdKF2odmELvNee",
          "mode": "list",
          "cachedResultName": "David - Clear, Warm and Patient"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -176,
        560
      ],
      "id": "19e19943-d3c0-40a3-8113-e732ae4acc03",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "4DI1Byx4YaoZPYU7",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "description": "Calcula interés compuesto. Úsala cuando el usuario pregunte cuánto crecerá una inversión.",
        "jsCode": "const principal = $input.first().json.principal;\nconst rate = $input.first().json.rate;\nconst years = $input.first().json.years;\n\nconst monto_final = principal * Math.pow(1 + rate / 100, years);\nconst intereses = monto_final - principal;\n\nreturn [{\n  json: {\n    principal: Math.round(principal * 100) / 100,\n    tasa_anual: rate,\n    años: years,\n    monto_final: Math.round(monto_final * 100) / 100,\n    intereses_generados: Math.round(intereses * 100) / 100\n  }\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -1056,
        912
      ],
      "id": "2055e909-9ed4-4e3f-aab5-8d19b472159b",
      "name": "Code Tool1"
    },
    {
      "parameters": {
        "toolDescription": "Consulta el tipo de cambio actual del dólar (USD) a pesos colombianos (COP). Úsala cuando el usuario pregunte por la tasa de cambio o el valor del dólar hoy.",
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -848,
        880
      ],
      "id": "c4a24123-20a3-44c5-8e6b-c21378c7f7f6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "toolDescription": "Obtiene el precio actual de Bitcoin en USD via CoinGecko. Úsala cuando el usuario pregunte por el precio del bitcoin o el mercado crypto.",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -576,
        944
      ],
      "id": "2c9db4ef-34ee-4492-8208-9191c2f80f2b",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "toolDescription": "Consulta información sobre productos financieros de Bancolombia como CDTs, créditos y cuentas. Úsala cuando el usuario pregunte sobre productos bancarios específicos.",
        "method": "POST",
        "url": "https://simulacron8n-production.up.railway.app/rag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\"mensaje\": \"{{ $fromAI('mensaje') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -48,
        192
      ],
      "id": "23688dba-0949-4ba4-98f4-e116c3d472e6",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "toolDescription": "Consulta preguntas frecuentes de FinBot como horarios, contraseñas y transferencias. Úsala cuando el usuario pregunte sobre soporte o información general de FinBot.",
        "method": "POST",
        "url": "https://simulacron8n-production.up.railway.app/cache",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"mensaje\": \"{{ $fromAI('mensaje') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        176,
        192
      ],
      "id": "fcbbf506-1063-4159-835a-133c38ed54fd",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "toolDescription": "Consulta información sobre productos financieros de Bancolombia como CDTs, créditos y cuentas. Úsala cuando el usuario pregunte sobre productos bancarios específicos.",
        "method": "POST",
        "url": "https://simulacron8n-production.up.railway.app/rag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"mensaje\": \"{{ $fromAI('mensaje') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -304,
        960
      ],
      "id": "5aa3ca7f-a159-45b3-81e7-8a9f9f415fc3",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "toolDescription": "Consulta preguntas frecuentes de FinBot como horarios, contraseñas y transferencias. Úsala cuando el usuario pregunte sobre soporte o información general de FinBot.",
        "method": "POST",
        "url": "https://simulacron8n-production.up.railway.app/cache",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"mensaje\": \"{{ $fromAI('mensaje') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        48,
        976
      ],
      "id": "752ca251-40ef-4495-aa9d-896294e41d32",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5304b2d1-7e0c-45ba-a24f-b68aa4ba9917",
              "leftValue": "={{ $('Webhook1').item.json.body.modo_audio }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        560
      ],
      "id": "1aa9278d-5266-498e-9c23-abce25d5ee64",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"transcripcion\": \"{{ $('Transcribe a recording').item.json.text }}\",\n  \"respuesta\": \"{{ $('AI Agent1').item.json.output }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        784
      ],
      "id": "e6eb40e0-f97a-4376-96aa-fdb365672e2c",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20dbad03-8b63-4038-8fef-fe9499129d26",
              "leftValue": "={{ $('Webhook1').item.json.body.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        336
      ],
      "id": "76cf0034-655a-4b93-b75c-8d036f38a8e8",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst msg = body.mensaje || body.message || '';\nconst limite = body.image ? 3 : 7;\nconst mensajes = (body.messages || []).slice(-limite);\nconst historial = mensajes.length > 0\n  ? mensajes.map(m => (m.role === 'user' ? 'Usuario' : 'FinBot') + ': ' + m.content).join('\\n') + '\\n\\n'\n  : '';\nreturn {\n  chatInput: historial + msg,\n  image: body.image || \"\",\n  tieneImagen: body.image ? true : false,\n  mode: body.mode || 'text',\n  idioma: 'AUTO'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -256
      ],
      "id": "259cfa05-b831-4ba8-8b07-b46a00846180",
      "name": "parse input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21bf2303-9a0e-4568-be5c-4b3be266c7d9",
              "leftValue": "={{ $json.tieneImagen }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        -256
      ],
      "id": "addcce07-e745-44f5-aedd-2b0bbb2e30b3",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $input.first().json.chatInput;\nconst image = $input.first().json.image;\nreturn {\n  chatInput: chatInput,\n  image: image,\n  body: JSON.stringify({\n    model: \"gpt-4o-mini\",\n    messages: [\n      {\n        role: \"system\",\n        content: \"Eres FinBot, asistente financiero. Analiza la imagen y responde en el idioma del usuario. DEBES responder ÚNICAMENTE con este JSON exacto sin ningún texto adicional: {\\\"response\\\": \\\"tu respuesta descriptiva completa aquí\\\", \\\"tool_used\\\": \\\"imagen\\\"}. No uses markdown, no uses bloques de código, solo el JSON.\"\n      },\n      {\n        role: \"user\",\n        content: [\n          { type: \"text\", text: chatInput },\n          { type: \"image_url\", image_url: { url: image } }\n        ]\n      }\n    ]\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -272
      ],
      "id": "beed4df7-eb42-4c14-949c-5bc11183b6bd",
      "name": "parse agent vision"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        -272
      ],
      "id": "4a388589-7b95-499a-8534-015b5133f90e",
      "name": "openai vision api",
      "credentials": {
        "httpBearerAuth": {
          "id": "86LlmCiIeRd5kQI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices[0].message.content;\nconst cleaned = content.replace(/^```json\\n?/, '').replace(/\\n?```$/, '').trim();\nlet response, toolUsed;\ntry {\n  const parsed = JSON.parse(cleaned);\n  if (parsed.response) {\n    response = parsed.response;\n    toolUsed = parsed.tool_used || 'imagen';\n  } else {\n    response = JSON.stringify(parsed);\n    toolUsed = 'imagen';\n  }\n} catch(e) {\n  response = cleaned;\n  toolUsed = 'imagen';\n}\nreturn { respuesta: response, tool_used: toolUsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -272
      ],
      "id": "375802e3-54c2-494d-a1dc-434d881c4f63",
      "name": "Parse Response Vision"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "parse input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse input": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "parse agent vision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse agent vision": {
      "main": [
        [
          {
            "node": "openai vision api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai vision api": {
      "main": [
        [
          {
            "node": "Parse Response Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response Vision": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "97f8f16c-3804-488e-ad7a-567eb99ed525",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d5084e5916388c752e06b917a0aa4367176abf5b56407be7d57697403412ca"
  },
  "id": "5lzJydVU8BzoHJYy",
  "tags": []
}